<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.livro.android.cap4.exemplociclovida"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name2"
        android:theme="@style/AppTheme" >
        <activity android:name="Menu" android:label="Exemplo de Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name="ExemploCicloVida" /> -->
        <activity android:name="ExemploCicloVidaAbrirTela" />
        <activity android:name="Tela2" />
        
        <activity android:name="ExemploListaContatos1" />
        <activity android:name="ExemploListActivity1" />
        <activity android:name="ExemploSimpleAdapter1" />
        <activity android:name="ExemploSimpleAdapter2" />
        <activity android:name="ExemploSmileAdapter" />
               
    </application>

</manifest>
